[submodule "lib/tfmodels"]
	path = lib/tfmodels
	url = https://github.com/tensorflow/models.git
[submodule "lib/CrowdHuman-dataset-prep"]
	path = lib/CrowdHuman-dataset-prep
	url = git@github.com:dtch1997/CrowdHuman-dataset-prep.git
[submodule "lib/visualwakewords"]
	path = lib/visualwakewords
	url = https://github.com/Mxbonn/visualwakewords.git
